/*
 Theme Name:   dotwfiftytwo
 description:A child theme of the Twenty Fifteen default WordPress theme
 Author:       Asha Wij
 Template:     dotwfiftytwo
 Version:      1.0.0
*/


@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
#page {
    max-width: 1400px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 1.2em;
    line-height: 1;
}
h3{
    font-size: 1.1em;
}
h2::before {
    content: none;
}
.site-header.featured-image{
    padding: 0;
    color:#fff;
    /* margin-bottom: auto; */
    min-height: 800px;
    margin-bottom: 0;
}
.image-filters-enabled .site-header.featured-image .site-featured-image{
    position: absolute;
    top:0;
    left:0
}
.image-filters-enabled .site-header.featured-image:after{
    content: none;
}
.image-filters-enabled .site-header.featured-image .site-featured-image:after {
    background: transparent;
    content: none;
}

/* Top menu styles */
.main-navigation{
    font-family: 'Roboto', sans-serif;
    width:100%;
}
.main-navigation > div {
    display: block;
}
.main-navigation .top-menu{
    float: right;
}
.site-header.featured-image .site-branding-container::after{
    height: 0;
}
.site-branding-container {
    width:100%;
    max-width: 1400px;
    position: fixed;
    background: #383838;
    z-index: 9999;
}
.site-branding {
    margin: 0 20px 0 calc(10% + 60px);
    height: 47px;
 } 
.site-branding-container .menu-top-menu-container{
    /* float: right; */
    display: inline-block;
}
.site-branding-container .main-navigation {
    margin: 10px 0 17px 0;
  }
.site-branding-container .main-navigation li{
    font-size: 14px;
}
.site-branding-container .main-navigation .menu-top-menu-container li > a{
    padding: 10px;
    background-color: #0d3177;
    margin: 0 5px 0 0;
    border-radius: 10px;
  }

  #site-navigation .main-menu-more{
      display: inline-block;
  }
  /* search form top menu */
  #site-navigation aside.widget-area{
      display: inline-block;
  }
  #site-navigation .search-form{
      position: relative;
      display: inline;
  }
  #site-navigation input.search-field {
    padding: 0 !important;
    margin: 0;
    height:30px;
}
  #site-navigation .search-form input[type=submit] {
    background: url(https://www.doctorsoftheworld.org.uk/wp-content/themes/eggbox-child/img/icons/search-icon.png) center center no-repeat;
    width: 26px;
    height: 26px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    border: none;
    position: absolute;
    top: 2px;
    right: 0;
    padding: 16px;
    margin: 0;
    color: transparent;
}
/* End of Top menu styles */


/* Secondary menu */
.main-navigation .menu-secondary-menu-container{
    padding-top: 35px;
}
.main-navigation ul#menu-secondary-menu {
    display: inline-block;
    text-transform: uppercase;
 
    border-radius: 10px;
    padding: 2px 0 8px 0;
} 
.main-navigation ul#menu-secondary-menu ul{
    padding: 0;
    margin: 0;
}
.main-navigation ul#menu-secondary-menu li {
    display: inline;
    list-style: none;
    padding: 10px;
    background-color: #fff;
} 
.main-navigation ul#menu-secondary-menu li a{
    color: #000;
    text-decoration-color: transparent;
    text-shadow: none;
    font-weight: 400;
}
.main-navigation ul#menu-secondary-menu li:first-child{
    border-radius: 10px 0px 0px 10px;
}
.main-navigation ul#menu-secondary-menu li:last-child{
    background:#FF5E00;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
}
.main-navigation ul#menu-secondary-menu li:last-child a{
    color: #fff;
}
/* End of Secondary menu */

/* home banner form styles */
.nf-form-content input#nf-field-5.ninja-forms-field, .nf-form-content input#nf-field-9.ninja-forms-field, .nf-form-content input#nf-field-6.ninja-forms-field{
    padding: 5px 12px;
    height:20px;
}
.nf-field-container{
    margin-bottom: 10px;
}
.nf-form-content .label-above .nf-field-label{
    margin-bottom: 10px;
}
.nf-form-layout {
    font-family: 'Roboto', sans-serif;
  }
.site-featured-image .nf-form-content input[type="button"]{
    /* background: #333; */
    background: #FF5E00;
}  
.site-featured-image .nf-form-content input.ninja-forms-field {
    /* height: 50px; */
    height: 25px;
    vertical-align: middle;
}
/* End of  home banner form styles */

 /* Blue title banner styles */

.title-banner h2{
    margin: 0;
}
.entry .entry-content .wp-block-columns.alignfull.content-col{
    padding: 0;
}
.entry .entry-content .wp-block-columns.alignfull.content-col .wp-block-column{
    padding: 0;
}