/*
 Theme Name:   dotwfiftytwo
 description:A child theme of the Twenty Fifteen default WordPress theme
 Author:       Asha Wij
 Template:     dotwfiftytwo
 Version:      1.0.0
*/


@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
#page {
    max-width: 1400px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
h2{
    font-size: 28px;
    line-height: 1;
}
h2::before{
    content: none;
}
h3{
    font-size: 20px;
}
.heading-underline{
    padding-bottom: 10px;
    border-bottom: 1px solid #0055A6;
    display: inline-block;
    text-transform: uppercase;
}

.site-header {
    padding: 0;
    color:#fff;
    min-height: 750px;
    margin-bottom: 0;
}
.site-branding-container {
    width:100%;
    max-width: 1400px;
    position: fixed;
    background: #383838;
    z-index: 9999;
    height:65px;
    top:0;
}
.site-branding-container .site-logo {
    display: inline-block;
    width: 7%;
    padding: 25px 0px 0px 25px;
}
.site-branding-container .main-navigation {
    display: inline-block;
    width: 90%;
    vertical-align: top;;
}    
.site-header .site-featured-image{
    max-width: 1400px;
    position: absolute;
    top:0;
}

/* ------------------------*/
/* ----Top menu styles ----*/
/* ------------------------*/
.main-navigation{
    font-family: 'Roboto', sans-serif;
    width:100%;
}
.main-navigation > div {
    display: block;
}
.site-branding-container .main-navigation {
    margin: 10px 0 17px 0;
  }
.site-branding-container .main-navigation li{
    font-size: 16px;
}
.main-navigation .top-menu{
    float: right;
}
 .main-navigation .menu-top-menu-container, .main-navigation .menu-top-menu-container ul{
    display: inline-block;
}
.main-navigation .menu-top-menu-container ul li{
    display: inline;
}
.main-navigation .menu-top-menu-container li > a{
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    background-color: #0055A6;
    margin: 0 5px 0 0;
    border-radius: 10px;
}
#site-navigation .main-menu-more{
    display: inline-block;
}
  /* search form top menu */
#site-navigation aside.widget-area{
    display: inline-block;
}
#site-navigation .search-form{
    position: relative;
    display: inline;
}
#site-navigation input.search-field {
    margin: 0;
    height:35px !important;
    min-width: 200px;
    font-size: 16px !important;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
#site-navigation .search-form input[type=submit] {
    background: url(https://www.doctorsoftheworld.org.uk/wp-content/themes/eggbox-child/img/icons/search-icon.png) center center no-repeat;
    width: 26px;
    height: 26px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    border: none;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 0 16px;
    margin: 0;
    color: transparent;
}
/* End of Top menu styles */

/* ------------------------*/
/* ----Secondary menu ----*/
/* ------------------------*/
.main-navigation .menu-secondary-menu-container{
    padding: 40px 0 0 30px;
}
.main-navigation ul#menu-secondary-menu {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 2px 0 8px 0;
} 
.main-navigation ul#menu-secondary-menu ul{
    padding: 0;
    margin: 0;
}
.main-navigation ul#menu-secondary-menu li {
    display: inline;
    list-style: none;
    padding: 10px 15px;
    background-color: #fff;
} 
.main-navigation ul#menu-secondary-menu li a{
    color: #000;
    text-decoration-color: transparent;
    text-shadow: none;
    font-weight: 400;
}
.main-navigation ul#menu-secondary-menu li:first-child{
    border-radius: 10px 0px 0px 10px;
}
.main-navigation ul#menu-secondary-menu li:last-child{
    background:#FF5E00;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
}
.main-navigation ul#menu-secondary-menu li:last-child a{
    color: #fff;
}
/* End of Secondary menu */

/* ------------------------*/
/* ----Home page ----*/
/* ------------------------*/

/* home banner*/
.nf-form-content input#nf-field-5.ninja-forms-field, .nf-form-content input#nf-field-9.ninja-forms-field, .nf-form-content input#nf-field-6.ninja-forms-field{
    padding: 5px 12px;
    height:20px;
}
.nf-field-container{
    margin-bottom: 10px;
}
.nf-form-content .label-above .nf-field-label{
    margin-bottom: 10px;
}
.nf-form-layout {
    font-family: 'Roboto', sans-serif;
  }
.site-featured-image .nf-form-content input[type="button"], footer .nf-form-content input[type="button"]{
    background: #FF5E00;
    border-radius: 5px;
}  
.site-featured-image .nf-form-content input, footer .nf-form-content input{
    border-radius: 5px !important;
}
.site-featured-image .nf-form-content input.ninja-forms-field {
    height: 25px;
    vertical-align: middle;
}
 /* Blue title banner */
.title-banner h2{
    font-size: 28px;
    padding: 30px 0;
    margin: 0;
}
.entry .entry-content .wp-block-columns.alignfull.content-col{
    padding: 0;
}
.entry .entry-content .wp-block-columns.alignfull.content-col .wp-block-column{
    padding: 0;
}
/* syria appeal */
.syria-appeal .wp-block-button__link{
    font-size: 24px;
    padding: 12px 40px;
}


/* Post grid */
.page-post-grid article{
    background: #e5e5e5;
    position: relative;
    min-height: 615px;
}
.page-post-grid .ab-block-post-grid-text {
    padding: 0 15px;
}
.page-post-grid header h3.ab-block-post-grid-title a{
    font-size: 18px;
    color: #0055A6;
}
.page-post-grid.ab-block-post-grid .ab-block-post-grid-more-link {
    color: #fff;
    padding: 10px;
    background: #FF5E00;
    border-radius: 5px;
    position: absolute;
    bottom: 15px;
}
/* Ways you can help */
.ways-you-can-help .wp-block-image {
    margin-bottom: 0;
}
.ways-you-can-help .wp-block-image img {
    min-width: 100%;
}
.ways-you-can-help .wp-block-button.aligncenter.is-style-fill.btn-full-width {
    width: 100%;
    margin-top: -50px;
}
.ways-you-can-help .btn-full-width .wp-block-button__link {
    padding: 12px 0;
    min-width: 100%;
    font-size: 22px;
}

/* ------------------------*/
/* ---- Footer ----*/
/* ------------------------*/

.footer-flex-grid {
    display: flex;
}
.footer-col {
    flex: 1;
}
footer.site-footer {
    background:  #383838;
    border-top: 50px solid #0055A6;
}
.menu-footer-menu-container ul {
    list-style: none; 
}
.menu-footer-menu-container ul li a{
    color:  #fff;
    text-decoration: none;
}
footer.site-footer  .company-info{
    font-size: 14px;
    color: #fff;
    padding: 20px 0 0 40px;
}
#nf-form-3-cont h3, #nf-form-3-cont p, #nf-form-3-cont .nf-form-fields-required, #nf-form-3-cont .nf-field label {
    color: #fff;
}
footer .nf-form-content input.ninja-forms-field {
    /* height: 50px; */
    height: 40px;
    vertical-align: middle;
}  
footer.site-footer  .company-info a{
    color: #fff;
}
.menu-social-links-container ul > li  {
    display: inline;
}
.menu-social-links-container ul > li .fa-circle::before {
    color: #0055A6;
} 
/* ---- End of Footer ----*/
